.vs/
Solutions/Rider/Rider.API/bin/
Solutions/Rider/Rider.API/obj/

Solutions/Rider/Rider.Application/bin/
Solutions/Rider/Rider.Application/obj/

Solutions/Rider/Rider.Domain/bin/
Solutions/Rider/Rider.Domain/obj/

Solutions/Rider/Rider.Infrastructure/bin/
Solutions/Rider/Rider.Infrastructure/obj/

Solutions/Rider/Rider.Shared/bin/
Solutions/Rider/Rider.Shared/obj/

Tests/Rider/bin/
Tests/Rider/obj/