.vs/
Rider/Rider.API/bin/
Rider/Rider.API/obj/

Rider/Rider.Application/bin/
Rider/Rider.Application/obj/

Rider/Rider.Domain/bin/
Rider/Rider.Domain/obj/

Rider/Rider.Infrastructure/bin/
Rider/Rider.Infrastructure/obj/

Rider/Rider.Shared/bin/
Rider/Rider.Shared/obj/